/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) and (max-width: 1400px) {
    .header .btn__text,
  .main .btn__text {
    top: -4rem;
  }
}

/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section-map {
    height: 80rem;
  }
  .header .btn__text,
  .main .btn__text {
    top: -4.5rem;
  }
}

/* // Средние девайсы («таблетки», >= 768px)  */
/* @media (min-width: 768px) and (max-width: 991.98px) { */
@media (max-width: 991.98px) {
  .main .section-contacts {
    display: flex;
    flex-direction: column;
    height: 50rem;
  }
  .section-map {
    height: 65rem;
  }
  .section-form {
    height: 75rem;
  }
  .section-form h2,
  .section-form h3 {
    text-align: center;
    margin: auto;
  }

  .section-form__container {
    flex-direction: column;
  }
  .section-form__container > div {
    width: auto;
    text-align: center;
  }
  .section-form__form {
    margin: 0;
    margin-bottom: 5rem;
  }
  .header .btn__text,
  .main .btn__text {
    top: -4rem;
  }
}

/* // Малые девайсы («ландшафтные», >= 575px) */
/* @media (min-width: 576px) and (max-width: 767.98px) { */
@media (max-width: 767.98px) {
  .main .section-contacts {
    height: 50rem;
    padding: 0;
  }
  .main .section-form__form {
    width: 90%;
    margin: 0 auto 5rem;
  }
  .section-map,
  .map,
  #map-contact {
    height: 70rem;
  }
  .section-form {
    align-items: center;
  }
  .header .btn__text,
  .main .btn__text {
    top: -4.5rem;
  }
}

/* // Экстрамалые девайсы («портретные телефоны», < 576px) */
@media (max-width: 575.98px) {
    .header .btn__text,
  .main .btn__text {
    top: -5.5rem;
  }
}

@media (max-width: 375px) {
  .section-map,
  .map,
  #map-contact {
    height: 70rem;
    width: 100%;
  }
  .section-form {
    height: 90rem;
  }
  .section-form__form {
    padding-bottom: 10rem;
  }
  .section-form__form input:nth-child(3), .section-form__form input:nth-child(4) {
      width: 47%;
  }
  .header .btn__text,
  .main .btn__text {
    top: -7rem;
  }
}
