/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) and (max-width: 1400px) {
  .header .btn__text,
  .main .btn__text {
    top: -4rem;
  }
}

/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section-video {
    height: 80rem;
  }
  .header .btn__text,
  .main .btn__text {
    top: -4.5rem;
  }
}

/* // Средние девайсы («таблетки», >= 768px)  */
/* @media (min-width: 768px) and (max-width: 991.98px) { */
@media (max-width: 991.98px) {
  .section-about {
    height: 50rem;
  }
  .section-video {
    height: 70rem;
  }
  .section-about__content {
    height: 25rem;
  }
  .section-contact__item {
    height: 40rem;
  }
  .main .section-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40rem;
    height: 90rem;
    padding-top: 4rem;
  }
  .swiper-pagination {
    transform: scale(.6);
  }
  .map {
    grid-row: 2;
    grid-column: 1/3;
  }
  .section-contact__item {
    justify-content: flex-start;
  }
  .section-video {
    height: 80rem;
  }
  .header .btn__text,
  .main .btn__text {
    top: -4.5rem;
  }
}

/* // Малые девайсы («ландшафтные», >= 575px) */
/* @media (min-width: 576px) and (max-width: 767.98px) { */
@media (max-width: 767.98px) {
  .section-about {
    height: 60rem;
  }
  .section-about__content {
    flex-direction: column;
    height: 30rem;
  }
  .section-about__text,
  .section-about__container {
    width: 100%;
  }
  .section-about__text {
    text-align: center;
  }
  .section-collection {
    height: 55rem;
  }
  .section-gallery__wrapper {
    grid-auto-rows: 20rem;
  }
  .section-about__title {
    align-self: center;
  }
  .section-about__container {
    margin-top: 5rem;
  }
}

/* // Экстрамалые девайсы («портретные телефоны», < 576px) */
@media (max-width: 575.98px) {
  .section-about {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-gallery__wrapper {
    grid-auto-rows: 20rem;
  }
  .section-collection {
    height: 60rem;
  }
  .section-collection__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 4rem;
    width: 80%;
  }
  .main .section-contacts {
    display: flex;
    flex-direction: column;
    height: 115rem;
  }
  .section-contact__item {
    height: auto;
  }
  .section-contact__wrapper {
    width: 80%;
    height: auto;
  }
  .map {
    height: 50rem;
    padding: 5rem 0;
  }
  .header .btn__text,
  .main .btn__text {
    top: -5.5rem;
    font-size: 2.3rem;
  }
}

@media (max-width: 375px) {
  .section-about {
    height: 95rem;
  }
  .section-about__content {
    height: 50rem;
  }
  .section-about__container {
    flex-direction: column;
  }
  .section-about__item:last-child {
    margin-top: 5rem;
  }
  .section-gallery__wrapper {
    grid-auto-rows: 18rem;
  }
  .section-collection {
    height: 90rem;
  }
  .section-collection__container {
    height: 45rem;
    margin-top: 5rem;
  }
  .section-testimonial, .section-testimonial__wrapper  {
      height: 45rem;
  }
  .main .section-contacts {
    height: 125rem;
  }
  .header .btn__text,
  .main .btn__text {
    top: -7rem;
    font-size: 2.3rem;
  }
  .section-video iframe {
    height: 60rem;
  }
}
