/* ////////////////////// Animated button //////////////  */

.shape {
  stroke-dashoffset: 200;
  stroke-dasharray: 300 25;
  stroke-width: 2px;
  fill: transparent;
  stroke: rgba(201, 171, 129, 0.9);
  transition: all 2s;
}
.btn__text {
  height: 100%;
  top:-100%;
  position: relative;
}

.btn:hover .shape {
  stroke-width: 2px;
  stroke-dasharray: 425 25;
  stroke-dashoffset: -125;
}

/* //////////////////////////////////////////////////// */

.js-scroll {
  opacity: 0;
  transition: opacity 0.1s;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-bottom-1 {
  animation: slide-bottom-1 0.5s ease-in;
}
.scrolled.slide-bottom-2 {
  animation: slide-bottom-2 1.5s ease-in;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
.scrolled.slide-bottom-3 {
  animation: slide-bottom-3 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.scrolled.top {
  animation: top 0.6s ease-in-out;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.top-sm {
  animation: top-sm 0.3s ease;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.img-to-bottom {
  animation: img-to-bottom 1s ease-in-out;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.img-animation {
  animation: img-animation 1s ease-in-out;
}

.scrolled.top::before,
.scrolled.top::after {
  animation: to-sides 2s ease;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.to-side {
  animation: to-side 1s ease-in-out;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.to-side-lg {
  animation: to-side-lg 1.3s ease-in-out;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.cart-to-bottom {
  animation: cart-to-bottom 1.3s ease-in-out;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

.scrolled.opacity-to-1 {
  animation: opacity-to-1 1s ease;
  animation-delay: .3s;
  animation-fill-mode: backwards;
}

@keyframes slide-bottom-1 {
  0% {
    height: 0;
  }
  100% {
    height: 10.5rem;
  }
}
@keyframes slide-bottom-2 {
  0% {
    height: 0;
  }
  100% {
    height: 75rem;
  }
}
@keyframes slide-bottom-3 {
  0% {
    height: 0;
  }
  100% {
    height: 50rem;
  }
}

@keyframes top {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes top-sm {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes img-to-bottom {
  0% {
    height: 0px;
  }
  100% {
    height: 60rem;
  }
}

@keyframes cart-to-bottom {
  0% {
    height: 0px;
  }
  100% {
    height: 20rem;
  }
}

@keyframes img-animation {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes to-sides {
  0% {
    width: 0px;
  }
  100% {
    width: 16rem;
  }
}

@keyframes to-side {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 35rem;
    opacity: 1;
  }
}

@keyframes to-side-lg {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes opacity-to-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

