html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

p::-moz-selection {
  color: white;
  background: #c9ab81;
}

*::selection {
  color: white;
  background: #c9ab81;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "EB Garamond", serif;

  font-size: 1.7rem;
  font-weight: 400;
  color: black;
}

p,
span {
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 0;
}

span {
  font-size: 1.9rem;
  line-height: 1.4em;
}

p {
  line-height: 1.5em;
  margin-top: 2.5rem;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  flex-direction: row;
  justify-content: space-between;

  height: 11.5rem;
  width: 100%;
  padding: 0 3.5rem;
  position: absolute;
}

.header-sm {
  height: 6rem;
  background-color: #fff;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: none;
}
.header-sm > div {
  padding: 0 3.5rem;
}
.menu span {
  content: "";
  display: block;
  height: 1px;
  width: 3rem;
  background-color: #c9ab81;
  margin: 1rem 0;
}

.menu__wrapper {
  position: absolute;
  top: 100%;
  background-color: #fff;
  height: 0;
  width: 100%;
  transition: 1s ease;
  overflow: hidden;
}

.menu__wrapper-active {
  height: 36rem;
}

.menu__wrapper a {
  color: #000;
}

.menu__ul {
  list-style-type: none;
  flex-direction: column;
  text-transform: uppercase;
  align-items: flex-start;
}

.menu__ul li {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  position: relative;
}

.menu__ul li::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
}

.menu__link {
  align-self: center;
  width: 100%;
}

.menu__arrows {
  height: 2rem;
  width: 3rem;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  margin-right: 1rem;
}

.menu__arrows::before,
.menu__arrows::after {
  content: "";
  height: 1px;
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.menu__arrows::before {
  transform: rotate(45deg) translate(.5rem, -.5rem);
}
.menu__arrows::after {
  transform: rotate(-45deg) translate(0px, 1rem);
}

.main,
.header {
  z-index: 10;
}

.button-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  background-color: #272727;
  cursor: pointer;
}

.button-up::before,
.button-up::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
  z-index: 100;
}

.button-up::before {
  transform: translate(2.6rem, 3rem) rotate(45deg);
}
.button-up::after {
  transform: translate(.875rem, 3rem) rotate(-45deg);
}


.main {
  margin-bottom: 44rem;
}

.main > section {
  background-color: white;
}

.header *,
.main__slider * {
  color: white;
}

.header-left,
.header-right {
  flex-direction: row;
}

.logo {
  cursor: pointer;
}

.logo__image {
  height: 4.5rem;
}

.nav__ul {
  flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  margin-left: 2rem;
  font-size: 1.5rem;
}

.nav__link {
  margin: 0 2rem;
  padding-bottom: 0.6rem;

  transition: 0.5s;
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #c9ab81;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
  transform: scaleX(0);
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header .btn,
.main .btn {
  background-color: transparent;
  height: 6rem;
  width: fit-content;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.07em;
  margin-top: 5rem;

  border: none;
  cursor: pointer;
}

.header .btn,
.main__slider .btn {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.header__icon {
  width: 100%;
  padding: 1rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

/* ////////////////////////////////////////// */
/* //////////// Main slider ////////////// */

.main__slider,
.main__slider-slide {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main__slider-slide img {
  width: 100%;
  height: auto;
}

.main__slide-label,
.main__slider-bullets {
  margin-top: 7rem;
  position: absolute;
}

.section__title {
  color: black;
  text-align: center;
}

.section__title h3 {
  color: rgba(201, 171, 129, 0.8);
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 400;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 5rem;
  font-weight: 400;
  width: fit-content;
  position: relative;

  margin: 2rem auto 6rem;
}

.main__slide-label .title {
  font-size: 6rem;
}

.title::before,
.title::after {
  content: "";
  width: 16rem;
  height: 1px;
  background-color: rgba(201, 171, 129, 0.8);

  position: absolute;
  top: 50%;
}

.main__slide-label .title::before,
.main__slide-label .title::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.title::before {
  /* left: -35%; */
  right: 110%;
}
.title::after {
  /* right: -35%; */
  left: 110%;
}

.main__slider-bullets {
  bottom: 5%;
}

/* /////////////////////////////////////////// */
/* /////////////// Bullets ////////////////// */

#swiper__main-pagination {
  position: absolute;
  bottom: 7%;
  z-index: 5;
}

#swiper__main-pagination .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.8);
  width: 5px;
  height: 5px;
  opacity: 0.5;
  margin: 0 1rem;
}

#swiper__main-pagination .swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  transform: scale(1.1);
}

.bullet {
  margin: 15px;
  cursor: pointer;

  transition: 0.3s ease;
}

.bullet:first-child,
.bullet:hover {
  transform: scale(1.8);
}

/* ///////////////////////////////////// */
/* ///////////// Arrows ////////////// */

.arrow-right,
.arrow-left {
  height: 4.5rem;
  width: 3rem;
  position: absolute;
  bottom: 50.6%;
  cursor: pointer;
}

.arrow-left {
  left: 0;
  margin-left: 3.5rem;
}

.arrow-right {
  right: 0;
  margin-right: 3.5rem;
}

.arrow-left::before,
.arrow-left::after,
.arrow-right::before,
.arrow-right::after {
  content: "";
  height: 1px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  position: absolute;
}

.main__slider-arrows .arrow-left::before,
.main__slider-arrows .arrow-left::after,
.main__slider-arrows .arrow-right::before,
.main__slider-arrows .arrow-right::after {
  background-color: rgba(255, 255, 255);
}

.arrow-left::before {
  transform: rotate(-45deg) translate(0px, -2px);
}
.arrow-left::after {
  transform: rotate(45deg) translate(10px, 12px);
}
.arrow-right::before {
  transform: rotate(45deg) translate(0px, -2px);
}
.arrow-right::after {
  transform: rotate(-45deg) translate(-10px, 12px);
}

/* /////////////////////////////////////////// */
/* //////////// Section 1 //////////////// */

.row {
  width: 110rem;
  margin: 0 auto;
}

.section-1 {
  height: 90rem;
  flex-direction: column;
}

.section-1 .section__title,
.section-3 .title {
  position: relative;
}

.section-1 h3 {
  color: rgba(201, 171, 129);
}

.section-1__grid {
  padding: 0 1.5rem;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  overflow: hidden;
}

.section-1__image {
  width: 31.6rem;
  height: 46rem;
  overflow: hidden;
}

.section-1__image img {
  width: 100%;
}

/* /////////////////////////////////////// */
/* ////////////// Section 2 /////////////// */

.main .section-2 {
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: #f8f8f8;
}

.section-2__item {
  flex-direction: column;
  width: 55rem;
  margin: 0 auto;
  justify-content: center;
}

.section-2__item .section__title,
.section-5__text .section__title {
  width: 100%;
  text-align: start;
}

.section-2__item .title,
.section-5__text .title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.section-2 .title::before,
.section-2 .title::after,
.section-5__text .title::before,
.section-5__text .title::after,
.section-7__text .title::before,
.section-7__text .title::after,
.section-8__text .title::before,
.section-8__text .title::after,
.section-11__text .title::before,
.section-11__text .title::after {
  display: none;
}

.section-2__image img {
  width: 100%;
  height: auto;
}

/* ///////////////////////////////////////// */
/* ////////////// Section 3. Events /////////////// */
.section-3 {
  height: 100rem;
  flex-direction: column;
}

.section-3__wrapper {
  position: relative;
}

.events-owl {
  height: 60rem;
  width: 100%;
  margin-top: 10rem;
}

.swiper-events__slide {
  height: 60rem;
  width: 25rem;
  position: relative;
}

.owl__image {
  height: 40rem;
  width: 25rem;
  overflow: hidden;
  margin: auto;
}

.owl__image img {
  width: 100%;
  height: 40rem;
  transition: 0.8s ease;
}

.blog__image img,
.product__image img {
  height: 100%;
  width: auto;
  transform: scale(1);
  transition: 0.8s ease;
}

.owl__image img:hover,
.blog__image img:hover,
.product__image img:hover {
  transform: scale(1.02) translateX(3px);
}

.owl__info {
  height: 17.3rem;
  width: 80%;
  position: absolute;
  bottom: 10rem;
  left: .5rem;

  background-color: #fff;
}

.event__date {
  font-size: 1.7rem;
  color: rgba(201, 171, 129);
  font-style: italic;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  margin-bottom: 1rem;
}

.event__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}

.event__link {
  padding-left: 6rem;
  color: inherit;
}

.owl__info span,
.blog__info-wrapper span {
  width: 4rem;
  height: 1px;
  background-color: #c9ab81;
  position: absolute;
  bottom: 1.1rem;
}

.events-owl__arrows span {
  background-color: black;
}

.owl-bottom {
  transform: translateY(3rem);
}

.section-3 .arrow-right,
.section-3 .arrow-left {
  bottom: 45%;
}

.section-3 .arrow-left {
  left: -12rem;
}

.section-3 .arrow-right {
  right: -12rem;
}

/* ///////////////////////////////////////// */
/* /////////////// Section 4 //////////////// */

.section-4 {
  height: 70rem;
  background: url(/img/h1-bg-img-1.jpg) no-repeat;
  background-size: cover;
  /* position: relative; */
}

.section-4__label {
  height: 20rem;
  width: 35rem;
  background-color: #fff;
  position: absolute;
  right: 20%;
  /* padding: 50px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.section-4__label h3 {
  margin-left: 5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.section-4__label p {
  margin-left: 5rem;
  white-space: nowrap;
}

/* //////////////////////////////////////////// */
/* ////////////// Section 5. History //////////// */

.section-5 {
  height: 258rem;
  flex-direction: column;
  justify-content: unset;
}

.section-5__wrapper {
  margin-top: 10rem;
}

.section-5 .title,
.section-10 .title {
  margin-bottom: 1rem;
}

.section-5 .title::before,
.section-10 .title::before {
  /* left: -50%; */
  right: 110%;
}
.section-5 .title::after,
.section-10 .title::after {
  /* right: -50%; */
  left: 110%;
}

.section__paragraph,
.section__paragraph span {
  width: 70rem;
  margin: 10px auto 0;
}

.section-5__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 75rem;

  position: relative;

  padding-top: 15rem;
}

.section-5__image {
  height: 60rem;
  width: 46rem;
  overflow: hidden;
  align-self: self-start;
  transition: height 0.5s;
}

.section-5__image img {
  width: 46rem;
}

.section-5__image-right {
  justify-self: self-end;
}

.section-5__text {
  flex-direction: column;
  width: 100%;
  text-align: justify;
  position: relative;
}

.section-5__text p {
  padding-top: 1rem;
}

.text-center {
  width: 45rem;
  justify-self: self-end;
  padding-left: 7rem;
}

.section-5__text-left .text-center {
  padding-left: 0;
  padding-right: 7rem;
}

.time-line {
  width: 100%;
  position: absolute;
  top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-line__span {
  width: 1px;
  background-color: rgba(0, 0, 0);
  position: absolute;
  top: 0;
}

.time-line__span:nth-of-type(1) {
  height: 10.5rem;
}

.time-line__span:nth-of-type(2) {
  top: 10.5rem;
  height: 75rem;
}

.time-line__span:nth-of-type(3) {
  top: 85.5rem;
  height: 75rem;
}

.time-line__span:nth-of-type(4) {
  top: 160.5rem;
  height: 50rem;
}

.circle {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -0.5rem;
  top: 10rem;
}

.circle-left {
  left: unset;
  right: -0.5rem;
}

.circle__line {
  content: "";
  height: 1px;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

.circle__line-left {
  left: unset;
  right: 0.5rem;
}

.circle__year {
  position: absolute;
  top: -4.7rem;
  left: 12rem;

  font-size: 2.2rem;
  font-family: "EB Garamond", serif;
}

.circle__year-left {
  left: unset;
  right: 12rem;
}

/* //////////////////////////////////////// */
/* /////////// Section 6. Testimonials ////////// */

.section-6 {
  height: 40rem;
  align-items: start;

}

.section-6__wrapper {
  position: relative;
  height: 40rem;
}

.swiper-testimonial,
.swiper-testimonial__arrows,
.section-testimonial__swiper {
  width: 67rem;
  height: 30rem;
  text-align: center;
}

.swiper-testimonial,
.section-testimonial__swiper {
  overflow: hidden;
}

.swiper-testimonial__slide {
  flex-direction: column;
}

.testimonial__quotes {
  font-size: 7rem;
}

.testimonial__text {
  font-size: 2rem;
  font-style: italic;
  font-family: "EB Garamond", serif;
  color: #c9ab81;
}

.testimonial__author {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 4rem 0 1rem;
}

.swiper-testimonial__arrows {
  position: absolute;
  top: 0;
}

.swiper-testimonial__arrows .arrow-left {
  left: -30%;
}
.swiper-testimonial__arrows .arrow-right {
  right: -30%;
}

#swiper-testimonial__pagination {
  bottom: 5rem;
}

.swiper-pagination-bullet-active {
  background-color: rgb(34, 34, 34);
}

/* /////////////////////////////////////////// */
/* /////////// Section 6. News form ///////////// */

.section-7,
.section-11 {
  background: url(/img/h1-bg-img-2.jpg) no-repeat;
  height: 90rem;
  overflow: hidden;
  background-size: cover;
}

.section-7__label,
.section-11__label {
  background-color: #fff;
  height: 52rem;
}

.section-7__label > div,
.section-8__text-col,
.section-11__label > div,
.section-form__container > div {
  width: 50%;
}

.section-7__text,
.section-11__text {
  padding: 0 6rem 0 10rem;
}

.section-7__text .section__title,
.section-8__text .section__title,
.section-11__text .section__title,
.section-form__text .section__title {
  text-align: start;
}

.section-7__text h2,
.section-8__text h2,
.section-11__text h2,
.section-form__text h2 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.section-7__form,
.section-11__form {
  padding: 0 10rem 0 6rem;
}

.section-7__form input,
.section-11__form input,
.section-form__form input {
  width: 100%;
  margin-bottom: 4.8rem;
  padding: 0.3rem 0.7rem;
  font-size: 1.6rem;
  font-family: "Alegreya Sans", sans-serif;
  border: none;
  color: #383838;
  border-bottom: 1px solid #b3b3b3;
  outline: 0;
  cursor: pointer;
}

/* ////////////////////////////////// */
/* /////////// Section 8 ////////////// */

.section-8 {
  height: 100rem;
}

.section-8__wrapper {
  height: 80rem;
}

.section-8__text {
  padding-bottom: 5rem;
}

.section-8__text h2 {
  font-size: 5rem;
}

.section-8__text-col:nth-of-type(1) {
  padding-right: 2rem;
}
.section-8__text-col:nth-of-type(2) {
  padding-left: 2rem;
  padding-top: 9rem;
}

.section-8__image {
  width: 100%;
  height: 43rem;
  overflow: hidden;
}

/* /////////////////////////////////////////////// */
/* //////////// Section 9. Blog /////////////// */

.main .section-9 {
  height: 110rem;
  background-color: #f8f8f8;
  flex-direction: column;
}

.section-9__wrapper {
  justify-content: space-between;
  height: 70rem;
  margin-top: 5rem;
}

.blog__item {
  position: relative;
}

.blog__image {
  height: 50rem;
  width: 34rem;
  overflow: hidden;
}

.blog__info-wrapper {
  position: absolute;
  width: 28rem;
  background-color: #f8f8f8;
  bottom: -35%;
  left: -1px;
}

.blog__item {
  height: fit-content;
}

.blog__info {
  width: 34rem;
  text-align: justify;
  padding-bottom: 3rem;
}

.blog__info-wrapper span {
  bottom: 0.9rem;
}

/* ///////////////////////////////////////// */
/* /////////// Section 10. Shop /////////// */

.section-10__wrapper {
  flex-direction: column;
  height: 90rem;
  position: relative;
  width: 100%;
}

.swiper-shop {
  height: 46rem;
  overflow: hidden;
  margin-top: 7rem;
}

.swiper-shop__wrapper {
  display: flex;
  align-items: center;
}

.swiper-shop__slide {
  height: 38rem;
  width: 25rem;
  margin: 0 1px;
  text-align: center;
  padding-right: 2rem;
}

.product__image {
  height: 25rem;
  width: 25rem;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.product__cart {
  position: absolute;
  height: 20rem;
  width: 20rem;
  background-color: #fff;
  top: 2.5rem;
  left: 2.5rem;
  opacity: 0;

  transition-duration: 0.3s;
}

.product__cart .btn {
  margin: 0;
}

.product__cart:hover {
  opacity: 1;
}

.swiper-shop__arrows {
  position: absolute;
  height: 1px;
  width: 90%;
  top: 54%;
  left: 5%;
}

.product__name,
.product__price {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.2rem;
  font-family: inherit;
  margin-top: 2rem;
}

.product__rating {
  margin: 0.5rem 0 1.5rem;
  font-size: 1.3rem;
}

#swiper-shop__pagination {
  position: absolute;
  bottom: 10%;
  text-align: center;
}

/* ////////////////////////////////////////////// */
/* ////////////// section 11. contact ///////////// */

.section-11 {
  background: url(/img/h1-bg-img-3.jpg) no-repeat;
}

.section-11__label {
  width: 130rem;
}

.section-11__label > div {
  height: fit-content;
  margin: auto;
}

.section-11__text p,
.contact__icons {
  margin-top: 2rem;
}

.section-11__form input {
  width: 48%;
  display: inline-block;
}

.section-11__form input:nth-of-type(1) {
  width: 100%;
}
.section-11__form input:nth-of-type(2),
.contact__icons i {
  margin-right: 1.6rem;
  color: black;
}

.section-11__form input.btn {
  margin-bottom: 0;
}

/* /////////////////////////////////////////////////// */
/* /////////////// Footer ///////////////// */

.footer {
  z-index: -1;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.footer__inner,
.footer {
  height: 44rem;
  width: 100%;
  background-color: #272727;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__inner,
.footer__inner a {
  color: white;
}

.footer__logo img,
.footer__logo {
  height: 5rem;
  width: 5rem;
}

.footer__item p {
  margin-top: 1.5rem;
}

.footer__item p:nth-of-type(1),
.footer__logo {
  margin-bottom: 3rem;
  margin-top: 0;
}

#footer__address {
  margin-bottom: 0;
  margin-top: 4.6rem;
}
