* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "EB Garamond", serif;

  font-size: 17px;
  font-weight: 400;
  color: black;
}

p,
span {
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 0;
}

span {
  font-size: 19px;
  line-height: 1.4em;
}

p {
  line-height: 1.5em;
  margin-top: 25px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  flex-direction: row;
  justify-content: space-between;

  height: 115px;
  width: 100%;
  padding: 0 35px;
  position: absolute;
}

.main,
.header {
  z-index: 2;
}

.main > section {
  background-color: white;
}

.header *,
.main--slider * {
  color: white;
}

.header-left,
.header-right {
  flex-direction: row;
}

.logo--wrapper {
  cursor: pointer;
}

.logo--img {
  height: 45px;
}

.navigation--ul {
  flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  margin-left: 20px;
  font-size: 15px;
}

.nav--link {
  margin: 0 20px;
  padding-bottom: 6px;

  transition: 0.5s;
  position: relative;
}

.nav--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c9ab81;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
  transform: scaleX(0);
}

.nav--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header .btn,
.main .btn {
  background-color: transparent;
  height: 50px;
  width: 155px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.07em;
  margin-top: 50px;

  /* border: 1px solid rgba(201, 171, 129, 0.7); */
  border: none;
  cursor: pointer;
}

/* ////////////////////// Animated button //////////////  */

.shape {
  stroke-dashoffset: 200;
  stroke-dasharray: 300 25;
  stroke-width: 2px;
  fill: transparent;
  stroke: rgba(201, 171, 129, 0.9);
  transition: all 2s;
}
.btn-text {
  top: -35px;
  /*   left: 5px; */
  position: relative;
}
.btn:hover .shape {
  stroke-width: 2px;
  stroke-dasharray: 425 25;
  stroke-dashoffset: -125;
}
/* //////////////////////////////////////////////////// */

.header .btn,
.main--slider .btn {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.icon {
  width: 100%;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}

/* ////////////////////////////////////////// */
/* //////////// Main slider ////////////// */

.main--slider,
.main--slider-slide {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main--slider-slide img {
  width: 100%;
  height: auto;
}

.main--slider-slide-label,
.main--slider-bullets {
  margin-top: 70px;
  position: absolute;
}

.section--title {
  color: black;
  text-align: center;
}

.section--title h3 {
  color: rgba(201, 171, 129, 0.8);
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 400;
  width: fit-content;
  position: relative;

  margin: 20px auto 60px;
}

.main--slider-slide-label .title {
  font-size: 60px;
}

.title::before,
.title::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: rgba(201, 171, 129, 0.8);

  position: absolute;
  top: 50%;
}

.main--slider-slide-label .title::before,
.main--slider-slide-label .title::after {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.4);
}

.title::before {
  left: -35%;
}
.title::after {
  right: -35%;
}

.main--slider-bullets {
  bottom: 5%;
}

/* /////////////////////////////////////////// */
/* /////////////// Bullets ////////////////// */

.bullet {
  margin: 15px;
  cursor: pointer;

  transition: 0.3s ease;
}

.bullet:first-child,
.bullet:hover {
  transform: scale(1.8);
}

.content {
  height: 2000px;
  background-color: aqua;
}

/* ///////////////////////////////////// */
/* ///////////// Arrows ////////////// */

.arrow-right,
.arrow-left {
  height: 45px;
  width: 30px;
  position: absolute;
  bottom: 50.6%;
  cursor: pointer;
}

.arrow-left {
  left: 0;
  margin-left: 35px;
}

.arrow-right {
  right: 0;
  margin-right: 35px;
}

.arrow-left::before,
.arrow-left::after,
.arrow-right::before,
.arrow-right::after {
  content: "";
  height: 1px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  position: absolute;
}

.main--slider-arrows .arrow-left::before,
.main--slider-arrows .arrow-left::after,
.main--slider-arrows .arrow-right::before,
.main--slider-arrows .arrow-right::after {
  background-color: rgba(255, 255, 255);
}

.arrow-left::before {
  transform: rotate(-45deg) translate(0px, -2px);
}
.arrow-left::after {
  transform: rotate(45deg) translate(10px, 12px);
}
.arrow-right::before {
  transform: rotate(45deg) translate(0px, -2px);
}
.arrow-right::after {
  transform: rotate(-45deg) translate(-10px, 12px);
}

/* /////////////////////////////////////////// */
/* //////////// Section 1 //////////////// */

.row {
  width: 1100px;
  margin: 0 auto;
}

.section--1 {
  height: 1000px;
  flex-direction: column;
}

.section--1 .section--title,
.section--3 .title {
  position: relative;
}

.section--1 h3 {
  color: rgba(201, 171, 129);
}

.section--1-grid {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  overflow: hidden;
}

.section--1-image {
  width: 100%;
}

/* /////////////////////////////////////// */
/* ////////////// Section 2 /////////////// */

.main .section--2 {
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: #f8f8f8;
}

.section--2-item {
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  justify-content: center;
}

.section--2-item .section--title,
.section--5-text .section--title {
  width: 100%;
  text-align: start;
}

.section--2-item .title,
.section--5-text .title {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
}

.section--2 .title::before,
.section--2 .title::after,
.section--5-text .title::before,
.section--5-text .title::after,
.section--7-text .title::before,
.section--7-text .title::after,
.section--8-text .title::before,
.section--8-text .title::after,
.section--11-text .title::before,
.section--11-text .title::after {
  display: none;
}

.section--2-image img {
  width: 100%;
  height: auto;
}

/* ///////////////////////////////////////// */
/* ////////////// Section 3. Events /////////////// */
.section--3 {
  height: 1100px;
  flex-direction: column;
}

.section--3-wrapper {
  position: relative;
}

.events--owl {
  height: 600px;
  width: 100%;
}

.swiper--events-slide {
  height: 600px;
  width: 250px;
  position: relative;
}

.owl-item-image {
  height: 400px;
  width: 250px;
  overflow: hidden;
}

.owl-item-image img,
.blog-image img,
.product-image img {
  height: 100%;
  width: auto;
  transform: scale(1);
  transition: 0.8s ease;
}

.owl-item-image img:hover,
.blog-image img:hover,
.product-image img:hover {
  transform: scale(1.03) translateX(5px);
}

.owl-item-info {
  height: 173px;
  width: 80%;
  position: absolute;
  bottom: 100px;
  left: -1px;

  background-color: #fff;
}

.event-date {
  font-size: 17px;
  color: rgba(201, 171, 129);
  font-style: italic;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  margin-bottom: 10px;
}

.event-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.event-link {
  padding-left: 60px;
  color: inherit;
}

.owl-item-info span,
.blog-info-wrapper span {
  width: 40px;
  height: 1px;
  background-color: #c9ab81;
  position: absolute;
  bottom: 11px;
}

.events--owl-arrows span {
  background-color: black;
}

.owl--bottom {
  transform: translateY(30px);
}

.section--3 .arrow-right,
.section--3 .arrow-left {
  bottom: 45%;
}

.section--3 .arrow-left {
  left: -120px;
}

.section--3 .arrow-right {
  right: -120px;
}

/* ///////////////////////////////////////// */
/* /////////////// Section 4 //////////////// */

.section--4 {
  height: 700px;
  background: url(/img/h1-bg-img-1.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.section--4-label {
  height: 200px;
  width: 350px;
  background-color: #fff;
  position: absolute;
  right: 20%;
  padding: 50px;
}

.section--4-label h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

/* //////////////////////////////////////////// */
/* ////////////// Section 5. History //////////// */

.section--5 {
  height: 2580px;
  flex-direction: column;
  justify-content: unset;
}

.section--5-wrapper {
  margin-top: 100px;
}

.section--5 .title,
.section--10 .title {
  margin-bottom: 10px;
}

.section--5 .title::before,
.section--10 .title::before {
  left: -50%;
}
.section--5 .title::after,
.section--10 .title::after {
  right: -50%;
}

.section--5-paragraph,
.section--5-paragraph span,
.section--10-paragraph,
.section--10-paragraph span {
  width: 700px;
  margin: 10px auto 0;
}

.section--5-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 750px;

  position: relative;

  padding-top: 150px;
}

.section--5-image {
  height: 600px;
  width: 460px;
  overflow: hidden;
  align-self: self-start;
  transition: height 0.5s;
}

.section--5-image img {
  width: 460px;
}

.section--5-image-right {
  justify-self: self-end;
}

.section--5-text {
  flex-direction: column;
  width: 100%;
  text-align: justify;
  position: relative;
}

.section--5-text p {
  padding-top: 10px;
}

.text-center {
  width: 450px;
  justify-self: self-end;
  padding-left: 70px;
}

.section--5-text-left .text-center {
  padding-left: 0;
  padding-right: 70px;
}

.time-line {
  width: 100%;
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-line--span {
  width: 1px;
  background-color: rgba(0, 0, 0);
  position: absolute;
  top: 0;
}

.time-line--span:nth-of-type(1) {
  height: 105px;
}

.time-line--span:nth-of-type(2) {
  top: 105px;
  height: 750px;
}

.time-line--span:nth-of-type(3) {
  top: 855px;
  height: 750px;
}

.time-line--span:nth-of-type(4) {
  top: 1605px;
  height: 500px;
}

.circle {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -5px;
  top: 100px;
}

.circle-left {
  left: unset;
  right: -5px;
}

.circle-line {
  content: "";
  height: 1px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 5px;
  top: 5px;
}

.circle-line-left {
  left: unset;
  right: 5px;
}

.circle-year {
  position: absolute;
  top: -47px;
  left: 120px;

  font-size: 22px;
  font-family: "EB Garamond", serif;
}

.circle-year-left {
  left: unset;
  right: 120px;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-bottom-1 {
  animation: slide-bottom-1 0.5s ease-in;
}
.scrolled.slide-bottom-2 {
  animation: slide-bottom-2 1.5s ease-in;
}
.scrolled.slide-bottom-3 {
  animation: slide-bottom-3 2s ease-in-out;
}

.scrolled.top {
  animation: top 0.3s ease-in-out;
}

.scrolled.img-to-bottom {
  animation: img-to-bottom 1s ease-in-out;
}

@keyframes slide-bottom-1 {
  0% {
    height: 0;
  }
  100% {
    height: 105px;
  }
}
@keyframes slide-bottom-2 {
  0% {
    height: 0;
  }
  100% {
    height: 750px;
  }
}
@keyframes slide-bottom-3 {
  0% {
    height: 0;
  }
  100% {
    height: 500px;
  }
}

@keyframes top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes img-to-bottom {
  0% {
    height: 0px;
  }
  100% {
    height: 600px;
  }
}

/* //////////////////////////////////////// */
/* /////////// Section 6. Testimonials ////////// */

.section--6 {
  height: 500px;
  align-items: start;

  position: relative;
}

.swiper--testimonial,
.swiper--testimonial-arrows {
  width: 670px;
  height: 300px;
  text-align: center;
}

.swiper--testimonial {
  overflow: hidden;
}

.swiper--testimonial-slide {
  flex-direction: column;
}

.testimonial--quotes {
  font-size: 70px;
}

.testimonial--text {
  font-size: 20px;
  font-style: italic;
  font-family: "EB Garamond", serif;
  color: #c9ab81;
}

.testimonial--author {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 40px 0 10px;
}

.swiper--testimonial-arrows {
  position: absolute;
  top: 0;
}

.swiper--testimonial-arrows .arrow-left {
  left: -30%;
}
.swiper--testimonial-arrows .arrow-right {
  right: -30%;
}

#swiper--testimonial-pagination {
  bottom: 100px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(34, 34, 34);
}

/* /////////////////////////////////////////// */
/* /////////// Section 6. News form ///////////// */

.section--7,
.section--11 {
  background: url(/img/h1-bg-img-2.jpg) no-repeat;
  height: 900px;
  overflow: hidden;
  background-size: cover;
}

.section--7-label,
.section--11-label {
  background-color: #fff;
  height: 520px;
}

.section--7-label > div,
.section--8-text-col,
.section--11-label > div {
  width: 50%;
}

.section--7-text,
.section--11-text {
  padding: 0 60px 0 100px;
}

.section--7-text .section--title,
.section--8-text .section--title,
.section--11-text .section--title {
  text-align: start;
}

.section--7-text h2,
.section--8-text h2,
.section--11-text h2 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
}

.section--7-form,
.section--11-form {
  padding: 0 100px 0 60px;
}

.section--7-form input,
.section--11-form input {
  width: 100%;
  margin-bottom: 48px;
  padding: 3px 7px;
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  border: none;
  color: #383838;
  border-bottom: 1px solid #b3b3b3;
  outline: 0;
  cursor: pointer;
}

/* ////////////////////////////////// */
/* /////////// Section 8 ////////////// */

.section--8 {
  height: 1000px;
}

.section--8-wrapper {
  height: 800px;
}

.section--8-text {
  padding-bottom: 50px;
}

.section--8-text h2 {
  font-size: 50px;
}

.section--8-text-col:nth-of-type(1) {
  padding-right: 20px;
}
.section--8-text-col:nth-of-type(2) {
  padding-left: 20px;
  padding-top: 95px;
}

.section--8-image {
  width: 100%;
  height: 430px;
  overflow: hidden;
}

/* /////////////////////////////////////////////// */
/* //////////// Section 9. Blog /////////////// */

.main .section--9 {
  height: 1100px;
  background-color: #f8f8f8;
  flex-direction: column;
}

.section--9-wrapper {
  justify-content: space-between;
  height: 700px;
}

.blog-item {
  position: relative;
}

.blog-image {
  height: 500px;
  width: 340px;
  overflow: hidden;
}

.blog-info-wrapper {
  position: absolute;
  width: 280px;
  background-color: #f8f8f8;
  bottom: -35%;
  left: -1px;
}

.blog-item {
  height: fit-content;
}

.blog-info {
  width: 340px;
  text-align: justify;
  padding-bottom: 30px;
}

.blog-info-wrapper span {
  bottom: 9px;
}

/* ///////////////////////////////////////// */
/* /////////// Section 10. Shop /////////// */

.section--10 {
  height: 900px;
  flex-direction: column;
  position: relative;
}

.swiper--shop {
  height: 460px;
  overflow: hidden;
  margin-top: 50px;
}

.swiper--shop-wrapper {
  display: flex;
  align-items: center;
}

.swiper--shop-slide {
  height: 380px;
  width: 250px;
  margin: 0 1px;
  text-align: center;
  padding-right: 20px;
}

.product-image {
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.swiper--shop-arrows {
  position: absolute;
  height: 1px;
  width: 90%;
  top: 54%;
  left: 5%;
}

.product-name,
.product-price {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  font-family: inherit;
  margin-top: 20px;
}

.product-rating {
  margin: 5px 0 15px;
  font-size: 13px;
}

#swiper--shop-pagination {
  position: absolute;
  bottom: 10%;
}

/* ////////////////////////////////////////////// */
/* ////////////// section 11. contact ///////////// */

.section--11 {
  background: url(/img/h1-bg-img-3.jpg) no-repeat;
}

.section--11-label {
  width: 1300px;
}

.section--11-label > div {
  height: fit-content;
  margin: auto;
}

.section--11-text p,
.contact--icons {
  margin-top: 20px;
}

.section--11-form input {
  width: 48%;
  display: inline-block;
}

.section--11-form input:nth-of-type(1) {
  width: 100%;
}
.section--11-form input:nth-of-type(2),
.contact--icons i {
  margin-right: 16px;
  color: black;
}

.section--11-form input.btn {
  margin-bottom: 0;
}

/* /////////////////////////////////////////////////// */
/* /////////////// Footer ///////////////// */

.footer {
  height: 440px;
  width: 100%;
}

.footer--inner {
  z-index: -1;
  height: 440px;
  width: 100%;
  background-color: #272727;
  position: fixed;
  bottom: 0;
}

.footer--inner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer--inner,
.footer--inner a {
  color: white;
}

.footer-logo img,
.footer-logo {
  height: 50px;
  width: 50px;
}

.footer-item p {
  margin-top: 15px;
}

.footer-item p:nth-of-type(1),
.footer-logo {
  margin-bottom: 30px;
  margin-top: 0;
}

#footer-address {
  margin-bottom: 0;
  margin-top: 46px;
}
