* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "EB Garamond", serif;

  font-size: 17px;
  font-weight: 400;
  color: black;
}

p,
span {
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 0;
}

span {
  font-size: 19px;
  line-height: 1.4em;
}

p {
  line-height: 1.5em;
  margin-top: 25px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  /* background-color: rgba(139, 0, 0, 0.26); */
  flex-direction: row;
  justify-content: space-between;

  height: 115px;
  width: 100%;
  padding: 0 35px;
  position: absolute;
}

.header *,
.main--slider * {
  color: white;
}

.header-left,
.header-right {
  flex-direction: row;
}

.logo--wrapper {
  cursor: pointer;
}

.logo--img {
  height: 45px;
}

.navigation--ul {
  flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  margin-left: 20px;
  font-size: 17px;
}

.nav--link {
  margin: 0 20px;
  padding-bottom: 6px;

  transition: 0.5s;
  position: relative;
}

.nav--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c9ab81;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
  transform: scaleX(0);
}

.nav--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  background-color: transparent;
  height: 50;
  width: 155px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.07em;
  margin-top: 50px;

  border: 1px solid rgba(201, 171, 129, 0.7);
  cursor: pointer;
}

.header .btn,
.main--slider .btn {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.icon {
  width: 100%;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}

/* ////////////////////////////////////////// */
/* //////////// Main slider ////////////// */

.main--slider,
.main--slider-slide {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main--slider-slide img {
  width: 100%;
  height: auto;
}

.main--slider-slide-label,
.main--slider-bullets {
  position: absolute;
}

.section--title {
  color: black;
  text-align: center;
}

.section--title h3 {
  color: rgba(201, 171, 129, 0.8);
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: 400;
  width: fit-content;

  margin: 20px auto 60px;
}

.main--slider-slide-label .title {
  font-size: 60px;
}

.title::before,
.title::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: rgba(201, 171, 129, 0.8);

  position: absolute;
  top: 49%;
}

.main--slider-slide-label .title::before,
.main--slider-slide-label .title::after {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 38%;
}

.title::before {
  left: -35%;
}
.title::after {
  right: -35%;
}

.main--slider-bullets {
  bottom: 10%;
}

/* /////////////////////////////////////////// */
/* /////////////// Bullets ////////////////// */

.bullet {
  margin: 15px;
  cursor: pointer;

  transition: 0.3s ease;
}

.bullet:first-child,
.bullet:hover {
  transform: scale(1.8);
}

.content {
  height: 2000px;
  background-color: aqua;
}

/* ///////////////////////////////////// */
/* ///////////// Arrows ////////////// */

.arrow-right,
.arrow-left {
  height: 45px;
  width: 30px;
  position: absolute;
  bottom: 50.6%;
  cursor: pointer;
}

.arrow-left {
  left: 0;
  margin-left: 35px;
}

.arrow-right {
  right: 0;
  margin-right: 35px;
}

.arrow-left::before,
.arrow-left::after,
.arrow-right::before,
.arrow-right::after {
  content: "";
  height: 1px;
  width: 25px;
  background-color: rgba(255, 255, 255);
  position: absolute;
}

.arrow-left::before {
  transform: rotate(-45deg) translate(-10px, 8px);
}
.arrow-left::after {
  transform: rotate(45deg) translate(20px, 22px);
}
.arrow-right::before {
  transform: rotate(45deg) translate(10px, 8px);
}
.arrow-right::after {
  transform: rotate(-45deg) translate(-20px, 22px);
}

/* /////////////////////////////////////////// */
/* //////////// Section 1 //////////////// */

.row {
  width: 1300px;
  margin: 0 auto;
}

.section--1 {
  height: 1000px;
  flex-direction: column;
}

.section--1 .section--title,
.section--3 .title {
  position: relative;
}

.section--1 h3 {
  color: rgba(201, 171, 129);
}

.section--1-grid {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  overflow: hidden;
}

.section--1-image {
  width: 100%;
}

/* /////////////////////////////////////// */
/* ////////////// Section 2 /////////////// */

.section--2 {
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: #f8f8f8;
}

.section--2-item {
  flex-direction: column;
  width: 550px;
  margin: 0 auto;
  justify-content: center;
}

.section--2-item .section--title,
.section--5-text .section--title {
  width: 100%;
  text-align: start;
}

.section--2-item .title,
.section--5-text .title {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
}

.section--2 .title::before,
.section--2 .title::after,
.section--5-text .title::before,
.section--5-text .title::after {
  display: none;
}

.section--2-image img {
  width: 100%;
  height: auto;
}

/* ///////////////////////////////////////// */
/* ////////////// Section 3. Events /////////////// */
.section--3 {
  height: 1200px;
  flex-direction: column;
  position: relative;
}

.events--owl {
  height: 700px;
  width: 100%;
}

.swiper-slide {
  height: 600px;
  width: 300px;
  position: relative;
}

.owl-item-image {
  height: 470px;
  width: 300px;
  overflow: hidden;
}

.owl-item-image img {
  height: 100%;
  width: auto;
  transform: scale(1);
  transition: 0.8s ease;
}

.owl-item-image img:hover {
  transform: scale(1.03) translateX(5px);
}

.owl-item-info {
  height: 170px;
  width: 85%;
  position: absolute;
  bottom: 30px;
  left: -1px;

  background-color: #fff;
}

.event-date {
  font-size: 18px;
  color: rgba(201, 171, 129);
  font-style: italic;
  font-weight: 400;
  font-family: "EB Garamond", serif;
}

.event-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.event-link {
  padding-left: 60px;
  color: inherit;
}

.owl-item-info span {
  width: 40px;
  height: 1px;
  background-color: #c9ab81;
  position: absolute;
  bottom: 11px;
}

.events--owl-arrows span {
  background-color: black;
}

.owl--bottom {
  transform: translateY(30px);
}

.section--3 .arrow-right,
.section--3 .arrow-left {
  bottom: 45%;
}

.section--3 .arrow-left {
  left: -150px;
}

.section--3 .arrow-right {
  right: -150px;
}

.section--3 .arrow-left::before,
.section--3 .arrow-left::after,
.section--3 .arrow-right::before,
.section--3 .arrow-right::after {
  content: "";
  height: 1px;
  width: 25px;
  background-color: rgb(0, 0, 0);
}

/* ///////////////////////////////////////// */
/* /////////////// Section 4 //////////////// */

.section--4 {
  height: 700px;
  background: url(/img/h1-bg-img-1.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.section--4-label {
  height: 200px;
  width: 350px;
  background-color: #fff;
  position: absolute;
  right: 20%;
  padding: 50px;
}

.section--4-label h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

/* //////////////////////////////////////////// */
/* ////////////// Section 5. History //////////// */

.section--5 {
  height: 3100px;
  flex-direction: column;
}

.section--5 .title {
  margin-bottom: 10px;
  position: relative;
}

.section--5 .title::before {
  left: -50%;
}
.section--5 .title::after {
  right: -50%;
}

.section--5-paragraph,
.section--5-paragraph span {
  width: 700px;
  margin-top: 10px;
}

.section--5-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 900px;

  position: relative;

  padding-top: 150px;
}

.section--5-image {
  height: 740px;
  width: 560px;
  overflow: hidden;
  align-self: self-start;

  transition: height 0.5s;
}

.section--5-image-right {
  justify-self: self-end;
}

.section--5-text {
  flex-direction: column;
  width: 100%;
  text-align: justify;
  position: relative;
}

.section--5-text p {
  padding-top: 10px;
}

.text-center {
  width: 450px;
  /* padding-top: 250px; */
  /* padding-top: 100px; */
  justify-self: self-end;
  padding-left: 70px;
}

.section--5-text-left .text-center {
  padding-left: 0;
  padding-right: 70px;
}

.time-line {
  width: 100%;
  position: absolute;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-line--span {
  height: 2550px;
  width: 1px;
  background-color: rgba(0, 0, 0);
  position: absolute;
  top: 0;
}

.time-line--span:nth-of-type(1) {
  height: 105px;
}

.time-line--span:nth-of-type(2) {
  top: 105px;
  height: 900px;
}

.time-line--span:nth-of-type(3) {
  top: 1005px;
  height: 900px;
}

.time-line--span:nth-of-type(4) {
  top: 1905px;
  height: 650px;
}

.circle {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -5px;
  /* top: 250px; */
  top: 100px;
}

.circle-left {
  left: unset;
  right: -5px;
}

.circle-line {
  content: "";
  height: 1px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 5px;
  top: 5px;
}

.circle-line-left {
  left: unset;
  right: 5px;
}

.circle-year {
  position: absolute;
  top: -47px;
  left: 150px;

  font-size: 22px;
  font-family: "EB Garamond", serif;
}

.circle-year-left {
  left: unset;
  right: 150px;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-bottom-1 {
  animation: slide-bottom-1 0.5s ease-in;
}
.scrolled.slide-bottom-2 {
  animation: slide-bottom-2 1.5s ease-in;
}
.scrolled.slide-bottom-3 {
  animation: slide-bottom-3 2s ease-in-out;
}

.scrolled.top {
  animation: top 0.3s ease-in-out;
}

.scrolled.img-to-bottom {
  animation: img-to-bottom 1s ease-in-out;
}

@keyframes slide-bottom-1 {
  0% {
    height: 0;
  }
  100% {
    height: 105px;
  }
}
@keyframes slide-bottom-2 {
  0% {
    height: 0;
  }
  100% {
    height: 900px;
  }
}
@keyframes slide-bottom-3 {
  0% {
    height: 0;
  }
  100% {
    height: 650px;
  }
}

@keyframes top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes img-to-bottom {
  0% {
    height: 0px;
  }
  100% {
    height: 740px;
  }
}
