.header {
  position: relative;
}

.header * {
  color: black;
}

.page-title {
  height: 20rem;
  justify-content: flex-start;
}

.page-title__image {
  background: url("/img/title-img-2.jpg") no-repeat;
  height: 20rem;
}

.page-title .section__title {
  padding: 0 5rem;
}
.page-title .title {
  margin: auto;
  font-size: 4rem;
}

.title::after,
.title::before {
  display: none;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

.section-product__container {
  height: 100rem;
  align-items: center;
  padding: 5rem;
}

.section-product__container > div {
  width: 50%;
}

.section-product__image {
  overflow: hidden;
}

.section-product__image img {
  width: 100%;
  height: auto;
}

.section-product__info {
  padding: 5rem;
}

.section-product__info .title {
  margin: 2rem 0 0;
}

.section-product__rating i,
.review__rating i {
  padding-right: 0.5rem;
  color: #c9ab81;
}

.section-product__price {
  font-size: 2.5rem;
}

.section-product__rating-details {
  display: inline-block;
  font-size: 2rem;
  padding-left: 1rem;
  letter-spacing: 1px;
  margin-top: 0;
}

.section-product__description {
  width: 90%;
  padding: 7rem 0;
}

.section-product__form {
  position: relative;
}

.section-product__form .btn {
  margin: 0;
}

.section-product__form input {
  border: 1px solid #999999;
  border-radius: 0;
  height: 5rem;
  width: 8rem;
  margin-right: 3rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.section-product__form input:focus-visible {
  outline: none;
}

.section-product__meta {
  margin-top: 5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-arrows {
  position: absolute;
  height: 5rem;
  width: 3rem;
  left: 5rem;
}

.input-arrows i {
  position: absolute;
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.3rem;
  transition: 0.1s ease;
  color: #5f5f5f;
}

.input-arrows .fa-angle-down {
  bottom: 0%;
  padding-top: 0.3rem;
}

.input-arrows i:hover,
.input-arrows i:active,
.meta__item a:hover {
  color: #c9ab81;
}

.meta__ul {
  list-style-type: none;
}

.meta__title,
.characteristic__title,
.review__title {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 5rem;
}

.meta__item a,
.meta__item span {
  font-size: 1.9rem;
  line-height: 1.4em;
  font-family: "Alegreya Sans", sans-serif;
  color: black;
  margin-left: 1rem;
  transition: 0.3s ease;
}

/* ////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

.section-tabs {
  /* height: 80rem; */
  min-height: 30rem;
  padding-bottom: 10rem;
  justify-content: start;
  flex-direction: column;
}

.section-tabs__tab {
  display: none;
}

.section-tabs__tab-active {
  display: block;
}

.section-tabs__titles {
  width: auto;
  list-style-type: none;
  margin-bottom: 3rem;
  position: relative;
  height: 8rem;
}

.section-tabs__title h3 {
  font-size: 30px;
  font-weight: 400;
  /* letter-spacing: 1px; */
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.section-tabs__line,
.section-tabs__line-active {
  height: 0.5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.205);
  position: absolute;
  bottom: 0;
}

.section-tabs__line-active {
  height: 2px;
  width: 28%;
  background-color: black;
  transition: 1s ease-in-out;
}

.section-tabs__container {
  width: 50%;
}

.tab-description {
  font-size: 1.9rem;
  font-family: "Alegreya Sans", sans-serif;
  max-width: 70rem;
  text-align: center;
}

.characteristic {
  list-style-type: none;
}

.characteristic__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

.characteristic__title,
.review__title {
  font-size: 1.7rem;
}

.tab-review {
  align-self: flex-start;
}

.review__item {
  margin-bottom: 3rem;
}

.review__title {
  margin-bottom: 1rem;
}

.review__image {
  height: 7rem;
  width: 7rem;
  overflow: hidden;
  margin-right: 2rem;
}

.review__avatar {
  width: 100%;
  height: auto;
}

.review__container {
  width: 100%;
}

.review__rating {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.review__username {
  font-family: "EB Garamond", serif;
}

.review__date {
  font-size: 80%;
  font-family: "Open Sans", sans-serif;
  color: #8f8f8fcc;
  margin-left: 1rem;
}

.review__text {
  margin-top: 0.5rem;
  font-size: 1.7rem;
  font-family: "Alegreya Sans", sans-serif;
}

/* //////////////////////////////////// */

.review__form {
    margin-top: 10rem;
}

.review__form span {
  display: block;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.review__form .review__form-label {
    font-size: 1.3rem;
    margin: 0 0 1rem;
}

.review__form .review__rating {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.review__form textarea,
.review__form input {
  width: 100%;
  height: 5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 2rem 1rem;
  font-size: 1.5rem;
}
.review__form textarea:focus-visible,
.review__form input:focus-visible {
  outline: none;
}

.review__form textarea {
  resize: none;
  height: 15rem;
}

.review__form input[type="checkbox"] {
  width: 1.5rem;
  height: auto;
}

.review__form .btn {
    display: block;
}