.page-title {
  height: 55rem;
  background-color: aqua;
  position: relative;
}

.page-title__image {
  background: url("/img/p1-title-img.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 55rem;
  width: 100%;
}

.page-title .section__title {
  color: #fff;
  padding-top: 11.5rem;
}

.page-title .title::before,
.page-title .title::after {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ////////////////////////////////////////// */
/* //////////// Section about /////////////// */

.section-about,
.section-contacts {
  height: 55rem;
  background-color: #fff;
}

.section-about .title,
.section-collection .title,
.section-contacts .title {
  margin: 15px auto;
}

.section-about,
.section-about__content,
.section-contacts {
  padding-top: 3rem;
}

.section-about__content > *,
.section-about__container > div {
  width: 50%;
}

.section-about__content {
  height: 30rem;
  justify-content: center;
}

.section-about__text {
  padding-right: 3rem;
  align-self: center;
}

.section-about__item {
  flex-direction: column;
}

.section-about__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;

  align-self: flex-start;
}

.section-about__title i {
  padding-right: 1.5rem;
  align-self: flex-start;
}

/* ////////////////////////////////////////////////// */
/* /////////////////// Section gallery //////////////// */

.section-gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25rem;
  gap: 3rem;
  padding-bottom: 6rem;
}

.section-gallery__item {
  overflow: hidden;
}

.gallery__item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.gallery__item-4 {
  grid-row: 1/3;
  grid-column: 4/5;
  grid: 4;
}

.section-gallery__image {
  height: 100%;
  width: auto;
}

/* ////////////////////////////////////////////// */
/* /////////////// Swiper ////////////// */


.section-testimonial__wrapper {
  min-height: 40rem;
  width: 100%;
  position: relative;
  align-items: flex-start;
}

.section-testimonial .swiper-testimonial__arrows {
  top: unset;
}

/* //////////////////////////////////////////////// */
/* /////////////// Section video ///////////////// */

.section-video {
  height: 70rem;
}

/* ///////////////////////////////////////////////// */
/* ////////////// Section collection ///////////////// */

.section-collection {
  height: 48rem;
}

.section-collection__container {
  height: 30rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.section-collection__item li {
  list-style-type: square;
  padding-bottom: 1rem;
}

.section-collection__item {
  width: 20rem;
  padding-left: 2rem;
}

/* ///////////////////////////////////////////// */
/* //////////////// Section contact ///////////////// */

.main .section-contacts {
  background-color: #f8f8f8;
  display: flex;
}

.section-contact__item {
  width: 100%;
  height: 50rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contact__item .title {
  margin: 0.5rem 0 2rem;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.section-contact__item h3 {
  text-align: start;
}

.section-contact__item h2::after,
.section-contact__item h2::before {
  display: none;
}

.section-contact__item p {
  margin-top: 1rem;
}

.section-contact__wrapper {
  width: 35rem;
  height: 30rem;
}

.map iframe {
  filter: grayscale(1);
  width: 100%;
}
